<navbar></navbar>
<div class="blog cover" id="top">
  <div class="container">
    <h2>Custom Orders</h2>
    <p id="subtext">
      While we do offer some sweet apparel online, we really like working with local businesses and other creatives on custom projects.
      Please feel free to contact us about your project and we'll make magic
    </p>
  </div>
</div>
<section>
  <div class="row">
    <div class="form-intro">
      <h5>Fill out some basic info, and we'll send you a quote asap</h5>
    </div>
  </div>
  <div class="container">
    <div class="col-md-6">
      <div>
        <md-card>
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline headline"></span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            <form name="form1" novalidate>
              <div class="row">
                <div class="form-group">
                  <div class="col-md-12">
                    <div class="left-label">
                      <label for="name">Name</label>
                    </div>
                    <div class="right-form">
                      <input type="text" class="form-control " id="name" placeholder="Name" ng-model="name" required>
                      <span style = "color:red" ng-show = "form1.name.$dirty && form1.name.$invalid">
                        <span ng-show = "form1.name.$error.required">First Name is required.</span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row form-row">
                <div class="form-group">
                  <div class="col-md-12">
                    <div class="left-label">
                      <label for="orgname">Organization</label>
                    </div>
                    <div class="right-form">
                      <input type="text" class="form-control " id="orgname" placeholder="Organization" ng-model="org" required>
                      <span style = "color:red" ng-show = "form1.orgname.$dirty && form1.orgname.$invalid">
                        <span ng-show = "form1.orgname.$error.required">Organization name is required.</span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row form-row">
                <div class="form-group">
                  <div class="col-md-12">
                    <div class="left-label">
                      <label for="phone">Phone</label>
                    </div>
                    <div class="right-form">
                      <input type="number" class="form-control " id="phone" placeholder="Phone" ng-model="phone" required>
                      <span style = "color:red" ng-show = "form1.phone.$dirty && form1.phone.$invalid">
                        <span ng-show = "form1.phone.$error.required">Phone Number is required.</span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row form-row">
                <div class="form-group">
                  <div class="col-md-12">
                    <div class="left-label">
                      <label>Email</label>
                    </div>
                    <div class="right-form">
                      <input type="email" ng-model="email" class="form-control" id="email" placeholder="Email" ng-model="email" required>
                      <span style = "color:red" ng-show = "form1.email.$dirty && form1.email.$invalid">
                        <span ng-show = "form1.email.$error.required">Email is required.</span>
                        <span ng-show = "form1.email.$error.email">Invalid email address.</span>
                     </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row form-row">
                <div class="form-group">
                  <div class="col-md-12">
                    <div class="left-label">
                      <label for="address">Address</label>
                    </div>
                    <div class="right-form">
                      <input type="text" class="form-control " id="address" placeholder="Address" ng-model="address">
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </md-card-content>
        </md-card>
      </div>
    </div>
    <div class="col-md-6">
      <div>
        <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline"></span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <form name="form2" novalidate>
            <div class="row">
              <div class="form-group">
                <div class="col-md-12">
                  <div class="left-label">
                    <label>Product required</label>
                  </div>
                  <div class="right-form">
                    <select ng-model="type" ng-options="i for i in product_required" class="form-control" required>
                      <option value="">Select</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="row form-row" style="margin-top:22px;">
              <div class="form-group">
                <div class="col-md-12">
                  <div class="left-label">
                    <label for="size">Break by Size</label>
                  </div>
                  <div class="right-form">
                    <div class="col-md-2 padding-right">
                      <label>S</label>
                      <input type="text" name="s" value=0 ng-model="s"/>
                    </div>
                    <div class="col-md-2 padding-right">
                      <label>M</label>
                      <input type="text" name="m" value="0" ng-model="m"/>
                    </div>
                    <div class="col-md-2 padding-right">
                      <label>L</label>
                      <input type="text" name="l" value="0" ng-model="l"/>
                    </div>
                    <div class="col-md-2 padding-right">
                      <label>XL</label>
                      <input type="text" name="xl" value="0" ng-model="xl"/>
                    </div>
                    <div class="col-md-2 padding-right">
                      <label>XXL</label>
                      <input type="text" name="xxl" value="0" ng-model="xxl"/>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row form-row" style="margin-top:23px;">
              <div class="form-group">
                <div class="col-md-12">
                  <div class="left-label">
                    <label for="name">Design ready</label>
                  </div>
                  <div class="right-form">
                    <input ng-show="!imageSelected"
                         ngf-drag-over-class="drop-box-dragover"
                         ngf-change="readFileImg($files)"
                         ngf-drop ngf-select
                         ng-model="files"
                         type="file"
                         ngf-multiple="false"
                         ngf-allow-dir="false"
                         accept="image/*" ng-cloak>
                    </input>
                    <br />
                    <input type="checkbox" value="Need help" name="needhelp" ng-model="needhelp" required/>
                    <label>Kinda, I may need help</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="row form-row" style="margin-top:23px;">
              <div class="form-group">
                <div class="col-md-12">
                  <div class="left-label">
                    <label for="quantity">Quantity</label>
                  </div>
                  <div class="right-form">
                    <input type="number" class="form-control" id="quantity" placeholder="Quantity" ng-model="quantity" required>
                    <span style = "color:red" ng-show = "form2.quantity.$dirty && form2.quantity.$invalid">
                      <span ng-show = "form2.quantity.$error.required">Quantity is required.</span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </md-card-content>
      </div>
    </div>
    </div>
    <div class="row btn-center form-row" style="margin-top:22px;">
      <button class="btn btn-default" type="submit" ng-click="getQuote(form1,form2)">Get Quote</button>
    </div>
</section>
<footer></footer>
