#top p{
  font-size: 1.2em;
  margin: 25px 20% 0 20%;
}
#top h2{
  margin-top: 50px;
}
.form-intro{
  text-align: center;
  margin-top: 50px;
}
.left-label{
  float: left;
  width: 25%;
  vertical-align: middle;
}
.right-form{
  float: right;
  width: 70%;
}
.form-row{
  margin-top: 20px;
}
.padding-right{
  padding-right: 0px;
  input{
    width: 100%;
  }
}
body[dir=rtl] .hint {
  right: 2px;
  left: auto;
}
