<navbar></navbar>
<div class="blog cover" id="top">
  <div class="container">
    <h2>Custom Orders</h2>
    <p id="subtext">
      While we do offer some sweet apparel online, we really like working with local businesses and other creatives on custom projects.
      Please feel free to contact us about your project and we'll make magic
    </p>
  </div>
</div>
<section>
  <div class="row">
    <div class="form-intro">
      <h5>Fill out some basic info, and we'll send you a quote asap</h5>
    </div>
  </div>
  <div class="container">
    <div>
      <md-content layout-padding>
        <form name="userForm">
          <div layout="row" layout-xs="column" layout-sm="column" layout-align="space-between center">
            <div flex-gt-sm="80"></div>
          </div>
          <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm flex-offset="15">
              <label>Name</label>
              <input md-maxlength="30" required name="name" ng-model="user.name" />
              <div class="hint">Tell us what we should call you!</div>
              <div ng-messages="userForm.name.$error" ng-if="!showHints">
                <div ng-message="required">Name is required.</div>
                <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
              </div>
            </md-input-container>
            <div flex="15"></div>
          </div>
          <div flex="5" hide-xs hide-sm>
            <!-- Spacer //-->
          </div>
          <div layout-gt-sm="row" layout-align="center center">
            <md-input-container class="md-block" flex-gt-sm flex-offset="15">
              <label>Phone Number</label>
              <input name="phone" ng-model="user.phone" ng-pattern="/^[(][0-9]{3}[)] [0-9]{3}-[0-9]{4}$/" />
              <div class="hint">(###) ###-####</div>
              <div ng-messages="userForm.phone.$error" ng-hide="showHints">
                <div ng-message="pattern">(###) ###-#### - Please enter a valid phone number.</div>
              </div>
            </md-input-container>
            <div flex="15"></div>
          </div>

          <div layout-gt-sm="row" layout-align="center center">
            <md-input-container class="md-block" flex-gt-sm flex-offset="15">
              <label>Email</label>
              <input name="email" ng-model="user.email"
                      required minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
              <div class="hint">How can we reach you?</div>
              <div ng-messages="userForm.email.$error" ng-hide="showHints">
                <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                  Your email must be between 10 and 100 characters long and look like an e-mail address.
                </div>
              </div>
            </md-input-container>
            <div flex="15"></div>
          </div>
          <div flex="5" hide-xs hide-sm>
            <!-- Spacer //-->
          </div>
          <div layout-gt-sm="row" layout-align="center center">
            <md-input-container class="md-block">
              <label>Roughly how many items do you want us to print</label>
              <md-select name="myModel" ng-model="myModel" required>
                <md-option value="10">10</md-option>
                <md-option value="20">20</md-option>
                <md-option value="40">30 +</md-option>
              </md-select>
              <!--<div class="errors" ng-messages="myForm.myModel.$error" ng-if="myForm.$dirty">
               <div ng-message="required">Required</div>
             </div>-->
            </md-input-container>
          </div>
          <div layout-gt-sm="row" layout-align="center center">
            <md-input-container class="md-block">
              <label>Quality of Apparel</label>
              <md-select name="myModel" ng-model="myModel" required>
                <md-option value="cheapest you got">Cheapest you got</md-option>
                <md-option value="Modest, buy quality material">Modest, buy quality material</md-option>
                <md-option value="Best of the best">Best of the best</md-option>
              </md-select>
              <!--<div class="errors" ng-messages="myForm.myModel.$error" ng-if="myForm.$dirty">
               <div ng-message="required">Required</div>
             </div>-->
            </md-input-container>
          </div>
          <div layout-gt-sm="row" layout-align="center center">
            <md-input-container class="md-block">
              <label>Do you have artwork ready</label>
              <md-select name="myModel" ng-model="myModel" required>
                <md-option value="1">Yes</md-option>
                <md-option value="2">No</md-option>
                <md-option value="0">Kinda, I may need help</md-option>
              </md-select>
              <!--<div class="errors" ng-messages="myForm.myModel.$error" ng-if="myForm.$dirty">
               <div ng-message="required">Required</div>
             </div>-->
            </md-input-container>
          </div>
          <div layout-gt-sm="column" layout-align="center center">
            <label>File upload for your artwork</label>
            <md-button class="md-raised md-primary">Upload</md-button>
            <p>10mb limit. Upload any mockup or samples you may have</p>
          </div>
          <div layout-gt-sm="column" layout-align="center center">
            <label>Any additional info</label>
            <textarea id="textarea" rows="8" class="validate[optional]"></textarea>
          </div>
          <div layout-gt-sm="row" id="quote-button" layout-align="center center">
            <md-button ng-click="" class="md-raised md-primary">Get a Quote</md-button>
          </div>
        </form>
      </md-content>
    </div>
  </div>
</section>
