<div class="container outer">
  <div class="col-md-4">
    <div>
      <h4>About Us</h4>
      <p>
        Tee Labs lets you customize T-shirt with your design / Art work / Logo printed for your Corporate, College, Group, NGO, Band, Team, company etc. To get your T-shirt made / printed contact: info@teelabs.in or Call +91 97910 29397
      </p>
    </div>
  </div>
  <div class="col-md-4 align">
    <div class="inner">
      <p style="text-align:center;margin-bottom:0px;">&copy; 2016  SouthTrooper</p>
    </div>
  </div>
  <div class="col-md-4">
    <div>
      <h4>Follow Us</h4>
      <p>
        Facebook | Twitter
      </p>
    </div>
  </div>
</div>
