<header class="menu row">
  <div class="contain">
    <nav>
      <a ui-sref-active="active" ui-sref="main"><img class="logo" ng-src="/assets/images/yeoman.png"/></a>
      <ul>
        <li>
          <a class="landing_alink" title="Our products" ui-sref-active="active" ui-sref="products">Products</a>
        </li>
        <li>
          <a class="landing_alink" title="Get your quotations" ui-sref-active="active" ui-sref="about">Quotations</a>
        </li>
        <li>
          <a class="landing_alink" title="Get your estimate" ui-sref-active="active" ui-sref="about">Get your estimate</a>
        </li>
        <li>
          <a class="landing_alink" title="About us" ui-sref-active="active" ui-sref="about">About</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
