<navbar></navbar>
<div class="blog cover" id="top">
  <div class="container">
    <h1 class="animated fadeInUp">Estimate</h1>
    <p class="animated fadeInUp">
      Fill out the form and get your expected price.
    </p>
  </div>
</div>
<!-- follow quote.scss -->
<section>
  <div class="container" style="margin-top:30px;">
    <div class="col-md-12">
      <div>
        <md-card>
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline headline"></span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            <form name="price_form">
              <div class="row">
                <div class="form-group">
                  <div class="col-md-12">
                    <div class="left-label">
                      <label>Product required</label>
                    </div>
                    <div class="right-form">
                      <select ng-model="type" ng-options="i for i in product_required" class="form-control">
                        <option value="">Select</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row form-row">
                <div class="form-group">
                  <div class="col-md-12">
                    <div class="left-label">
                      <label >Front</label>
                    </div>
                    <div class="right-form">
                      <div class="row side">
                        <div class="radio">
                          <label>
                            <input type="radio" checked ng-model="fprint" value="15">
                            Print
                          </label>
                        </div>
                        <div class="radio">
                          <label>
                            <input type="radio" ng-model="fembroidery" value="20">
                            Embroidery
                          </label>
                        </div>
                        <div style="margin-right:20px;">
                          <input type="number" class="form-control input-sm" placeholder="Colors" ng-model="fcolor">
                        </div>
                        <div>
                          <select ng-model="fsize" ng-options="i for i in size" class="form-control input-sm">
                            <option value="">Select</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12 form-row">
                    <div class="left-label">
                      <label for="orgname">Back</label>
                    </div>
                    <div class="right-form">
                      <div class="row side">
                        <div class="radio">
                          <label>
                            <input type="radio"  checked ng-model="bprint" value="15">
                            Print
                          </label>
                        </div>
                        <div class="radio">
                          <label>
                            <input type="radio" ng-model="bembroidery" value="20">
                            Embroidery
                          </label>
                        </div>
                        <div style="margin-right:20px;">
                          <input type="number" class="form-control input-sm" placeholder="Colors" ng-model="bcolor">
                        </div>
                        <div>
                          <select ng-model="bsize" ng-options="i for i in size" class="form-control input-sm">
                            <option value="">Select</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12 form-row">
                    <div class="left-label">
                      <label for="orgname">Left Sleeve</label>
                    </div>
                    <div class="right-form">
                      <div class="row side">
                        <div class="radio">
                          <label>
                            <input type="radio" checked ng-model="lsprint" value="15">
                            Print
                          </label>
                        </div>
                        <div class="radio">
                          <label>
                            <input type="radio" ng-model="lsembroidery" value="20">
                            Embroidery
                          </label>
                        </div>
                        <div style="margin-right:20px;">
                          <input type="number" class="form-control input-sm" placeholder="Colors" ng-model="lscolor">
                        </div>
                        <div>
                          <select ng-model="lssize" ng-options="i for i in size" class="form-control input-sm">
                            <option value="">Select</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12 form-row">
                    <div class="left-label">
                      <label for="orgname">Right Sleeve</label>
                    </div>
                    <div class="right-form">
                      <div class="row side">
                        <div class="radio">
                          <label>
                            <input type="radio" checked ng-model="rsprint" value="15">
                            Print
                          </label>
                        </div>
                        <div class="radio">
                          <label>
                            <input type="radio" ng-model="rsembroidery" value="20">
                            Embroidery
                          </label>
                        </div>
                        <div style="margin-right:20px;">
                          <input type="number" class="form-control input-sm" placeholder="Colors" ng-model="rscolor">
                        </div>
                        <div>
                          <select ng-model="rssize" ng-options="i for i in size" class="form-control input-sm">
                            <option value="">Select</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row form-row">
                <div class="form-group">
                  <div class="col-md-12">
                    <div class="left-label">
                      <label for="phone">Quantity</label>
                    </div>
                    <div class="right-form">
                      <input type="number" class="form-control " id="quantity" placeholder="quantity" ng-model="quantity">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row form-row">
                <div class="form-group">
                  <div class="col-md-12">
                    <div class="left-label">
                      <label>Price per unit</label>
                    </div>
                    <div class="right-form"><span>&#8377;</span>
                      <input type="number" class="form-control" id="email" placeholder="Price per unit" ng-model="ppu">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row form-row">
                <div class="form-group">
                  <div class="col-md-12">
                    <div class="left-label">
                      <label for="address">Total</label>
                    </div>
                    <div class="right-form"><span>&#8377;</span>
                      <input type="number" class="form-control " id="total" placeholder="Total" ng-model="total">
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </md-card-content>
        </md-card>
      </div>
      <div class="row btn-center form-row" style="margin-top:22px;">
        <button class="btn btn-default" type="submit" ng-click="getEstimate(price_form)">Get your estimated price</button>
      </div>
    </div>
</section>
<footer></footer>
