<navbar></navbar>
<div class="blog cover" id="top">
  <div class="container">
    <h2 class="animated fadeInUp">SouthTrooper</h2>
      <ul class="list-unstyled">
        <li class="animated fadeInUp">
          <i class="fa fa-map-marker"></i>
          <strong>Address:</strong> H Block, VIT University, Vellore, Tamil Nadu, India.
        </li>
        <li class="animated fadeInUp">
          <i class="fa fa-phone"></i>
          <strong>Phone:</strong> +91 987654321, +91 987635372
        </li>
        <li class="animated fadeInUp">
          <i class="fa fa-envelope"></i>
          <strong>Email:</strong><a href="mailto:southtrooper@gmail.com"> southtrooper@gmail.com</a>
        </li>
      </ul>
  </div>
</div>
<section>
  <div class="container">
    <div class="row">
      <div class="contact-padding">
        <h2 class="short">
          <span id="contact">Contact</span id="us"><span>Us</span>
        </h2>
      </div>
    </div>
    <div class="contact-padding">
      <div class="row">
        <form name="contactForm">
          <div class="col-md-6">
            <div class="form-group">
              <label for="Name">Name</label>
              <input type="text" class="form-control" id="name" placeholder="Name" ng-model="name">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email" placeholder="Email" ng-model="email">
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              <label for="subject">Subject</label>
              <input type="text" class="form-control" id="subject" placeholder="Subject" ng-model="subject">
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              <label for="message">Message</label>
              <textarea type="text" class="form-control" rows="10" id="subject" ng-model="message"></textarea>
            </div>
          </div>
          <div class="row contact-button">
            <input class="btn btn-default" type="submit" ng-click="sendContact(contactForm,$event)">
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<footer></footer>
